body {
    font-family: "Times New Roman", Times, serif;
    margin: 40px;
}


.title {
    text-align: center;
}


h2 {
    text-decoration: underline;
    font-weight: bold;
    margin-top: 20px;
}

